.nav {
  width: 100%;
  height: calc(100vh - 3.5rem);
  position: absolute;
  top: 100%;
  transition: all 200ms ease;

}
@media (min-width: 1024px) {
  .nav {
    width: auto;
    height: auto;
    position: relative;
    top: auto;
  }
}

.navShow {
  left: 0;
}
@media (min-width: 1024px) {
  .navShow {
    left: auto;
  }
}

.navHide {
  left: -100%;
}
@media (min-width: 1024px) {
  .navHide {
    left: auto;
  }
}

.nav_link {
  position: relative;
}
.nav_link_head {
}

.nav_link_content {
  display: none;
  position: relative;
}

@media (min-width: 1024px) {
  .nav_link_content {
    position: absolute;
    top: 100%;
    left: 0;
  }
}

.nav_link:hover > .nav_link_content {
  display: block;
}

