/* fonts.css */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Marcellus&display=swap");
/* Marcellus Font */
.font-marcellus-regular {
  font-family: "Marcellus", serif;
  /* Add any additional styles specific to Marcellus */
}

/* DM Sans Font */
.font-dm-sans {
  font-family: "DM Sans", sans-serif;
  /* Add any additional styles specific to DM Sans */
}

/* Additional Font Weights and Styles */
/* For DM Sans: */
.font-dm-sans-italic {
  font-family: "DM Sans", sans-serif;
  font-style: italic;
}

/* Adjust font weights for DM Sans as needed */
.font-dm-sans-regular {
  font-weight: 400;
}

.font-dm-sans-medium {
  font-weight: 500;
}

.font-dm-sans-bold {
  font-weight: 700;
}
